@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("PT Sans"), local("PTSans-Regular"),
      url("../fonts/ptsans-400-normal.woff2") format("woff2"),
      url("../fonts/ptsans-400-normal.woff") format("woff");
}

@font-face {
  font-family: "PT Sans Narrow";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("PT Sans Narrow"), local("PTSans-Narrow"),
      url("../fonts/ptsansnarrow-400-normal.woff2") format("woff2"),
      url("../fonts/ptsansnarrow-400-normal.woff") format("woff");
}


/* GLOBAL
================================================== */

*,
*::before, *:before,
*::after, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 20px;
}

body {
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  padding: 0;

  font: normal 400 0.75rem/1 "PT Sans", "Calibri", sans-serif;
  color: #333333;

  background-color: #fdfdfd;
  background-image: linear-gradient(25deg, transparent 0%, transparent 90%, hsla(94, 62%, 62%, 0.75) 90%, hsla(94, 62%, 62%, 0.75) 100%),
                    linear-gradient(-155deg, transparent 0%, transparent 90%, hsla(94, 62%, 62%, 0.75) 90%, hsla(94, 62%, 62%, 0.75) 100%);
  background-size: 100vw auto;
}

img {
  max-width: 100%;
  height: auto;
}

.hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;
  border: 0;

  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
}

.btn-reset {
  padding: 0;

  font: inherit;
  text-transform: inherit;
  color: inherit;

  background-color: transparent;
  border: 0;

  cursor: pointer;
}

.btn-reset:disabled {
  cursor: default;
}


/* CONTENT
================================================== */

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  padding: 0 1rem;
  margin: 0 auto;
}

.page-main__title {
  margin: 1.5rem 0;

  font: 400 1.5rem/1 "PT Sans Narrow", "Calibri", sans-serif;
  text-align: center;
}

.works {
  display: grid;
  grid-template-columns: minmax(auto, 390px);
  grid-gap: 1.5rem;
  justify-content: center;
  margin: 0;
  padding: 0;

  list-style: none;
}

.works__item {
  background-color: #f5f5f5;
  border: 1px solid #fbfbfb;
  box-shadow: 0 0 0 1px #ededed;
}

.work {
  padding: 1rem;
}

.work__title {
  margin: 0;

  font: 400 1rem/1 "PT Sans Narrow", "Calibri", sans-serif;
}

.work__title-link {
  color: #333333;
}

.work__title-link:hover,
.work__title-link:focus {
  color: hsla(1, 100%, 66%, 1);
}

.work__title-link:visited {
  color: rgba(51, 51, 51, 0.55);
}

.work__layout {
  position: relative;
  overflow: hidden;

  display: block;
  margin: 1rem 0 0;

  border: 1px solid #fbfbfb;
}

.work__layout::after {
  content: "Открыть макет";

  position: absolute;
  left: 0;
  top: calc(-100% + 2px);

  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  margin: 1px;

  font-size: 1rem;
  color: #ffffff;

  transition: all 1s;
}

.work__layout:hover::after {
  top: 0;

  background-color: hsla(231, 77%, 68%, 0.9);
  border: 1px solid #ededed;
}

.work__img {
  display: block;

  border: 1px solid #ededed;
}

.work__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0 0;
}

.work__layout-type {
  margin: 0;
}

.work__link-img {
  display: block;
}


/* FOOTER
================================================== */

.page-footer {
  display: flex;
  justify-content: space-between;
  margin-top:auto;
  padding: 1.5rem 0;
}

.about-link {
  color: #333333;
}

.about-link:hover,
.about-link:focus {
  color: hsla(1, 100%, 66%, 1);
}


/* === 2 COLUMNS === */
/* ================= */

@media (min-width: 575px) {

  /* GLOBAL
  ================================================== */

  html {
    font-size: 23px;
  }

  body {
    font-size: 0.7rem;
  }


  /* CONTENT
  ================================================== */

  .works {
    grid-template-columns: repeat(2, 1fr);
  }

  .work__description {
    align-items: flex-end;

    line-height: 1.3;
  }

  .work__page {
    display: block;
  }


  /* FOOTER
  ================================================== */

  .page-footer {
    justify-content: flex-end;
  }

  .about-link {
    margin-left: 1.5rem;
  }

}


/* === 3 COLUMNS === */
/* ================= */

@media (min-width: 865px) {

  /* GLOBAL
  ================================================== */

  html {
    font-size: 26px;
  }

  body {
    font-size: 0.65rem;
  }


  /* CONTENT
  ================================================== */

  .works {
    grid-template-columns: repeat(3, 1fr);
  }

}


/* === 4 COLUMNS === */
/* ================= */

@media (min-width: 1170px) {

  /* GLOBAL
  ================================================== */

  html {
    font-size: 30px;
  }

  body {
    font-size: 0.6rem;
  }


  /* CONTENT
  ================================================== */

  .container {
    max-width: calc((350px + 1rem * 2) * 4 + 1rem * 5);
  }

  .works {
    grid-template-columns: repeat(4, 1fr);
  }

}


/* === IE === */
/* ========== */

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {

  .container {
    position: relative;

    padding-top: 2.5rem;
  }

  .container::before {
    content: "Пожалуйста, смените браузер.";

    position: absolute;
    top: 1rem;

    font-size: 1.5rem;
    color: hsla(1, 100%, 66%, 1);
    text-align: center;
  }

}
